.panel.panel-default
  .panel-heading
    %h4 入札中・落札したオークション
  .panel-body
    .row
      - @biddings.each do |bidding|
        .image-cell.col-md-2.col-sm-3.col-xs-6
          = image_tag Product.find(bidding.product_id).image_url(:thumb)
          %div= bidding.name
          - if expiration?(bidding.end_date)
            %span.btn.btn-xs.btn-info 入札中
          - else
            %span.btn.btn-xs.btn-danger 落札済
            =link_to '評価する', '#', {class: 'btn btn-xs btn-success'}
.row
  .col-md-12
    = link_to 'ダッシュボードに戻る', mypage_users_path
