.panel.panel-default
  .panel-heading
    %h4 商品一覧
  .panel-body
    .row
      - @products.each do |product|
        .image-cell.col-md-2.col-sm-3.col-xs-6
          = link_to product.image_url(:thumb) ? image_tag(product.image_url(:thumb)) : image_tag('no_image_for_product.png'),
              mypage_product_path(product)
          %br
          = link_to product.name, mypage_product_path(product)
.row
  .col-md-12
    = link_to 'ダッシュボードに戻る', mypage_users_path
    \|
    = link_to '商品を追加', new_mypage_product_path
