.row
  .col-md-12
    %h3 出品中のオークション一覧

.row
  - @products.each do |product|
    .col-md-2.col-sm-3.col-xs-6
      = link_to auction_path(product) do
        = image_tag(product.image_url(:thumb) || 'no_image_for_product.png')

      %br
      = link_to product.name.truncate(10), auction_path(product)
